
    {% extends "base.html.twig" %}

    {% block body %}
        {{ number }}
        <h1 class="text-center" title="js de bootstrap funcionando :)" >Hola <s>Acceseo</s> acceseo!</h1>
        <button type="button" class="btn btn-primary" title="Button">Button</button>
        <div class="alert alert-success" role="alert">
          This is a success alert—check it out!
        </div>
    {% endblock %}
